body
{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
}

.container-fluid
{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.quiz-page-main-image-wrapper
{
    width: 100%;
    overflow: hidden;
    height: 30vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

#quiz-page-main-image
{
    width: 100%;
    overflow: hidden;
    height: 30vw;  
    padding-bottom: 0;
    margin-bottom: 0;
}

.quiz-question
{
    height: 28vw;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #DEECFF;
    text-align: center;
}

.quiz-question-title
{
    margin-bottom: 2.5vw;
    font-family: 'Work Sans', sans-serif;
}

.quiz-questions-text
{
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: x-large;
    text-align: center;
}

.take-quiz-button, .take-quiz-button:hover, .take-quiz-button:active, .take-quiz-button:focus
{
    background-color: aliceblue;
    color: black;
    width: 20%;
    letter-spacing: 5px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 0;
}

.quiz-question-button, .quiz-question-button:hover, .quiz-question-button:active, .quiz-question-button:focus
{
    background-color: aliceblue;
    color: black;
    width: 50%;
    letter-spacing: 5px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 2vw;
}

#take-quiz-here
{
    padding-top: 1vw;
    height: 15vw;
}

#question-one
{
    height: 15vw;
}

#question-three
{
    height: 25vw;
}

