body
{
    overflow-x: hidden;
}

/*Top Carousel*/
.top-control-left, .top-control-right
{
    filter: invert(100%);
}

.top-control-left, .top-control-right
{
    height: 1vw;
    width: 1vw;
    opacity: 1;
    padding-top: 1.5vw;
}

.top-control-left
{
    position: absolute;
    left: 35%;
}

.top-control-right
{
    position: absolute;
    right: 35%;
}

.carousel-item
{
    top: 0.59vw;
    text-align: center;
}

@media screen and (max-width: 992px)
{
    .top-carousel-text
    {
        font-size: x-small;
    }

    .top-control-left, .top-control-right
    {
        height: 2vw;
        width: 2vw;
        opacity: 1;
        padding-top: 2.5vw;
    }

    .top-control-left
    {
        position: absolute;
        left: 25%;
    }

    .top-control-right
    {
        position: absolute;
        right: 25%;
    }

    .carousel-item
    {
        top: 0.59vw;
        text-align: center;
    }

    #topCarousel
    {
        display: none;
    }
}

/*Top Carousel*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Main Timer Section*/
.main-timer-section
{
    background-color: #E6F6EC;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

#timer-value
{
    font-size: 12pt;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width: 992px)
{
    #timer-value
    {
        font-size: x-small;
    }

    .main-timer-section
    {
        display: none;
    }
}

/*Main Timer Section*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*SideNav*/
.sideNavigation 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: 0;
    background-color: white;
    border-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 7%;
    border-top-right-radius: 7%;
    border-style: solid;
    border-width: 1px;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
  }

  .sideNavigation a
  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    border-color: black;
  }

.sideNavigation a:hover
{
    color: #5c5a5a;
}

.sideNavigation .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*SideNav*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Navbar*/
#companyLogo
{
    max-width: 128px;
    max-height: 64px;
}

#top-nav-container
{
    z-index: 1;
}

.navbar
{
    top: 0;
}

.nav, .navbar-collapse, .navbar-nav
{
    padding-bottom: 0;
    margin-bottom: 0;
}

.collapse
{
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-pop-out-button
{
    position: absolute;
    left: 2%;
    border: none;
}

.menu-icon
{
    position: absolute;
    max-height: 20px;
    max-width: 20px;
    top: 1;
}

@media screen and (max-width: 992px)
{
    .nav-pop-out-button
    {
        display: none;
    }

    #temp-logo
    {
        display: none;
    }
}

.navbar-icon-picture
{
    margin-top: 5%;
    height: 16px;
    width: 16px;
    margin-right: 3px;
}

.navbar-icons-wrapper
{
    position: absolute;
    text-align: right;
    right: 2%;
}

.icon-button
{
    background: transparent;
    border: none;
}

.nav-link
{
    color: black;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
}


/*Navbar*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Tea Dropdown*/

.tea-dropdown
{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: none;
}

@media screen and (min-width: 992px)
{
    #tea-drop
    {
        z-index: 3;
        position: sticky;
        top: 11%;
        background-color: white;
        /* position: fixed; */
    }
}


.tea-dropdown-col
{
    list-style: none;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 0%;
}

.tea-dropdown-item, .tea-dropdown-item:hover
{
    color: black;
    text-decoration: none;
    font-size: large;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    letter-spacing: 1px;
}

.dropClose
{
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

.dropdown-tea-title, .dropdown-tea-title:hover
{
    text-decoration: underline;
    font-size: large;
}


/*Tea Dropdown*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Main Carousel Fluid*/
.container-fluid
{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.main-carousel-image
{
    padding-top: 0;
    margin-top: 0;
    height: 43.25vw;
    overflow: hidden;
}

.main-carousel-image-title
{
    z-index: 1;
    position: absolute;
    top: -1150%;
    left: -15%;
    bottom: 0;
    right: 0;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 64px;
    text-align: justify;
    text-justify: inter-word;
    color: black;

}

.main-carousel-image-text
{
    z-index: 1;
    position: absolute;
    top: -500%;
    bottom: 0;
    left: -15%;
    right: 0;
    text-align: justify;
    text-justify: inter-word;
    color: black;
}

.main-carousel-image-button
{
    position: absolute;
    z-index: 1;
    top: -200%;
    left: -15%;
    background-color: white;
    color: black;
}

.main-carousel-image-button:hover
{
    background-color: white;
    color: black;
}

@media screen and (max-width: 991px)
{
    .large-main-carousel
    {
        display: none;
    }

    .carousel-item
    {
        height: 1000%;
    }

    .main-carousel-image
    {
        padding-top: 0;
        margin-top: 0;
        height: 400px;
        overflow: hidden;
    }
}

@media screen and (min-width: 992px)
{
    .small-main-carousel
    {
        display: none;
    }
}

/*Main Carousel Fluid*/

/***************************************************************/
.shop-item
{
    width: 25%;
    margin: auto;
    margin-bottom: 3vw;
    width: 18rem;
    overflow: hidden;
}

.hide
{
    display: none;
    overflow: hidden;
}

/***************************************************************/

/*Top Picks*/

.top-picks-cards-wrapper
{
    display: flex;
}


.card-carousel-text
{
    text-align: center;
}

.tri-carousel-card
{
    margin: 0 .5em;
    width: calc(100%/3);
    border: none;
    background: transparent;
    overflow-x: hidden;
}

.duo-carousel-card
{
    margin: 0 .5em;
    width: calc(100%/2);
    border: none;
    background: transparent;
}

.carousel-card-image-wrapper
{
    height: 22vw;
    align-items: center;
    justify-content: center;
}

.carousel-card-image-wrapper img
{
    max-width: 100%;
    max-height: 100%;
}

.card-img-top
{
    border-radius: 5%;
    height: 100%;
}

.card-carousel-button
{
    background-color: black;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.card-title-text
{
    font-family: 'Montserrat', sans-serif;
}

/*Smaller screen CSS*/
@media screen and (max-width: 992px)
{
    .larger-carousel
    {
        display: none;
    }

    .card-title-text
    {
        font-size: smaller;
    }

    .card-carousel-button
    {
        font-size: small;
    }

    .larger-carousel
    {
        display: none;
    }

    .carousel-card-image-wrapper
    {
        height: 40vw;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 991px)
{
    .smaller-carousel
    {
        display: none;
    }
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Get Inspired*/

.get-inspired-title
{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 2%;
    padding-bottom: 1%;
}

.get-inspired-cards-wrapper
{
    display: flex;
}


/*Get Inspired*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Our Sustainable Tea*/

.sustainable-tea-container
{
    padding-top: 2%;
    background-color: #e6f6ec;
    padding-bottom: 2%;
}

.sustainable-tea-title
{
    font-family: 'Fjalla One', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 3px; 
    padding-bottom: 3vw;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.sustainable-tea-header
{
    font-weight: bold;
    font-size: medium;
    letter-spacing: 2px;
}

.sustainable-tea-description
{
    font-size: small;
}

@media screen and (max-width: 992px)
{
    .sustainable-tea-header
    {
        font-size: small;
        letter-spacing: 0;
    }
    
    .sustainable-tea-description
    {
        font-size: x-small;
    }
}

/*Our Sustainable Tea*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Treat Your Inbox*/

.treat-your-inbox-wrapper
{
    
    background-color: #d0e4ff;
    text-align: center;
}

.treat-your-inbox-title
{
    font-family: 'Fjalla One', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 3px; 
    padding-bottom: 5vw;
    padding-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.email-button
{
    margin-right: 15vw;
}

.email-button:hover, .email-button:active, .email-button:focus
{
    border: none;
}

.email-enter-image
{
    max-height: 32px;
    max-width: 32px;
}

@media screen and (max-width: 991px)
{
    .email-button
    {
        margin-right: 0;
    }
}



/*Treat Your Inbox*/

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Footer*/
.footer-list
{
    list-style: none;
    align-items: left;
    justify-content: left;
    font-weight: 100;
}

.footer-element-text, .footer-element-text:hover 
{
    text-decoration: none;
    color: black;

}

.footer-title
{
    font-weight: bold;
}

/*Larger Screen Footer*/
@media screen and (min-width: 992px)
{
    .footer-title
    {
        text-align: center;
        font-weight: bold;
    }
}

/*Smaller Screen Footer*/
@media screen and (max-width: 991px)
{
    .footer-title
    {
        font-size: small;
        padding-left: 10%;
    }

    .footer-element
    {
        font-size: x-small;
        left: 0;
    }

    .footer-element-text
    {
        left: 0;
    }
}

/*Footer*/

.spacer
{
    padding-top: 3%;
}

.small-spacer
{
    padding-top: 1%;
}