body
{
    overflow-x: hidden;
}

.shop-item
{
    width: 25%;
    margin: auto;
    margin-bottom: 3vw;
    width: 18rem;
    overflow: hidden;
    background-color: transparent;
}

.hide
{
    display: none;
    overflow: hidden;
}

.spacer
{
    padding-top: 3%;
}

.small-spacer
{
    padding-top: 1%;
}
